html{
    font-size: 1rem;
    box-sizing: border-box;
}
body{
    margin: 0;
    height: 100vh;
    font-size: 1.5rem;
    font-family: HeLvetica,arial,sans-serif;
}

/*Layout*/

.grid-container{
    display: grid;
    grid-template-areas: 
    'header'
    'main'
    'footer';
    grid-template-columns: 1fr;
    grid-template-rows: 5rem 1fr 5rem;
    height: 100%;
}
header{
    grid-area: header;
    background-color: rgb(185, 214, 181);
    color: rgb(27, 21, 21);
    padding-bottom: 7rem;
    font-weight: bold;

}
main{
   grid-area: main;
   padding: 1rem;
}
footer{
    grid-area: footer;
    background-color: rgb(201, 198, 231);
}

/*commen settings */
a{
    text-decoration: none;
}
a:hover{
    color: rgb(247, 20, 20);
}

.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

/* only for a heder*/
header a{
    color: rgb(11, 20, 19);
    padding: 3rem;
    font-weight: bold;
}

header:hover{
    color: blue;
}

.row.center{
    justify-content: center;
}
img{
    border-radius: 1rem;
    padding: 30px;
    float: left;
    padding-top: 30px;
    border-color: black;
    border: 1rem gold;
    width: 100%;
    height: 100%;
}
.menu{
    background-color: rgb(237, 241, 241);
}
image.mediam{
max-width: 29rem;
width: 100%;
}
